<div id="loading" class="container" ng-show="loading">
  <div class="row">
    <div class="col-md-7 col-md-offset-5">
      <img src="/assets/ajax-loader.gif">
    </div>
  </div>
</div>

<div ng-show="startup.id">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><a href="{{ startup.angellist_url }}" class="no-underline" target="_blank"><img ng-show="startup.thumb_url" ng-src="{{startup.thumb_url}}"> {{ startup.name }}</a></h2>
        <h6 ng-show="startup.locations.length > 0">{{ startup.locations | formatLocations }}</h6>
        <h4 ng-show="startup.high_concept">{{ startup.high_concept }}</h4>
        <h6 ng-show="startup.description">{{ startup.description }}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>{{ startup.status }}</h6>
      </div>
    </div>
    <div class="row">
      <div ng-show="startup.company_url" class="col-md-12">
        <p>
          <a href="{{ startup.company_url }}" class="btn btn-primary" target="_blank">Visit Company Page</a>
        </p>
      </div>
      <div ng-show="startup.crunchbase_url" class="col-md-12">
        <p>
          <a href="{{ startup.crunchbase_url }}" class="btn btn-primary" target="_blank">Visit Crunchbase Page</a>
        </p>
      </div>
      <div ng-show="startup.twitter_url" class="col-md-12">
        <p>
          <a href="{{ startup.twitter_url }}" class="btn btn-primary" target="_blank">Visit Twitter</a>
        </p>
      </div>
      <div ng-show="startup.blog_url" class="col-md-12">
        <p>
          <a href="{{ startup.blog_url }}" class="btn btn-primary" target="_blank">Visit Blog</a>
        </p>
      </div>
    </div>
    <div class="row" ng-show="startup.markets.length > 0">
      <div class="col-md-4">
        <h6>Markets:</h6>
        <ul>
          <li ng-repeat="market in startup.markets"><a href="{{market.angellist_url}}" target="_blank">{{ market.display_name }}</a></li>
        </ul>
      </div>
    </div>
    <div class="row extra-top-margin">
      <div class="col-md-12">
        <a class="btn btn-primary" href="#/">Find Another Startup</a>
        <a class="btn btn-primary" href="#/startups">View All Saved Startups</a>
      </div>
    </div>
  </div>
</div>

<div ng-hide="startup">
  <div class="container extra-top-margin" id="startup-not-found">
    <div class="row">
      <div class="col-md-12">
        <div>We were unable to find any information. Please make sure you typed the domain correctly.</div>
      </div>
      <div class="col-md-12 extra-top-margin">
        <a class="btn btn-primary" href="#/">Search Again</a>
      </div>
    </div>
  </div>
</div>
