<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Saved Startups</h2>
    </div>

    <div class="col-md-12">
      <table class="table table-striped table-hover" id="startups-table">
        <thead>
          <tr>
            <th>
            Name
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="startup in startupsFiltered" id="vin_{{vehicle.vin}}">
            <td>{{startup.name}}</td>
            <td><a href="/#/startups/by_domain/{{startup.domain}}" class="btn btn-primary">Details</a></td>
          </tr>
          <tr ng-show="startupsFiltered.length == 0">
            <td>No startups found</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div id="pagination" ng-show="totalStartups > startupsPerPage">
        <pagination total-items="totalStartups" page="currentPage" items-per-page="startupsPerPage"></pagination>
      </div>
    </div>
  </div>
</div>

