'use strict';

var startupsApp = angular.module('startupsApp', ['ngResource', 'ui.bootstrap'])
    .config(['$routeProvider', function($routeProvider, $locationProvider) {
        $routeProvider
            .when('/', {controller: 'StartupsSearchController',  templateUrl: '<%= asset_path("index.html")%>'})
            .when('/startups', {controller: 'StartupsIndexController', templateUrl: '<%= asset_path("startups/index.html")%>'})
            .when('/startups/by_domain/:domain', {controller: 'StartupsByDomainController', templateUrl: '<%= asset_path("startups/by_domain.html")%>'})
            .otherwise({redirectTo: '/'});
    }]);


