body {
  padding-top: 50px;
}

#pagination {
  cursor: pointer;
}

.extra-top-margin {
  margin-top: 40px;
}

.jumbotron input {
  vertical-align: middle;
}

#loading {
  margin-top: 50px;
}

.no-underline, a.no-underline:hover {
  text-decoration: none;
}
