<div class="jumbotron">
  <div class="container">
    <h1>Enter a domain:</h1>
    <div>
      <input type="text" id="domain-input" ng-model="domain">
      <input class="btn btn-primary" type="submit" id="domain-submit" value="Submit" ng-click="submitDomain()">
    </div>
    <p class="extra-top-margin"><a href="/#/startups" class="btn btn-default"><strong>View Saved Startups</strong></a></p>
  </div>
</div>

